* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
    height: auto;
    background-color: var(--bodyBG);
}

:root {
--headergray: #3f3b3b;
--headerBGteal: rgb(122, 185, 194);
--bodyBG: rgb(217, 219, 219);
--bodytext: rgb(55, 73, 88);
}

/* ################################## Nav Bar ######################################### */

.navbar {
    display: flex;
    height: 15vh;
    
}

.name {
    display: flex;
    flex: 50%;
    background-color: var(--headergray);
    justify-content: flex-start;
    align-items: center;
    
}

.name h1 {
    font-size: 35px;
    background-color: var(--headerBGteal);
    color: var(--headergray);
    padding: 20px 12px 20px 75px;
    
    
    
}

.links {
    display: flex;
    background-color: var(--headergray);
    flex: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    color: var(--headerBGteal);
    font-weight: bolder;  
}

.navlist {
    padding-right: 0px;
    justify-content: center;
    margin-left: auto;
    margin-right: 45px;
    display: flex;
    list-style-type: none; 
}

.navlist li {
    margin: auto;
    padding: 10px;
    
}

.navlist li a:link {
    text-decoration: none;
    padding-bottom: 3px;
    color: var(--headerBGteal);
    border-bottom: 3px solid var(--headerBGteal);
}



.navlist li a:visited {
    color: var(--headerBGteal)
}





/* ################################## Background Pic with Subtitle #################### */

.subtitle {
    display: flex;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./images/D1G.png");
    justify-content: flex-end;
    align-items: flex-end;
}

.subtitle h2 {
    font-size: 32px;
    color: var(--headergray);
    background-color: var(--headerBGteal);
    margin: 35px 100px;
    padding: 8px;
}
/* .bgimage {
    background-image: ;
} */

/* ################################## About Me ########################################  */

.AboutMe {
    padding-top: 20px;
    display: flex;
    color: var(--bodytext);
    background-color: var(--bodyBG);
    /* height: 25vh; */
    height: auto;
    margin-bottom: 25px;
}



.AMSidebar {
    display: flex;
    justify-content: flex-end;
    flex: 25%;
    height: auto;
    border-right: 3px solid var(--bodytext); 
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 10px; 
    flex-wrap: wrap;

}

.AMSidebar h3 {
    max-width: 100px;
    justify-content: flex-end;
    text-align: end;
    flex-wrap: wrap;
}

.AboutMeText {
    display: flex;
    flex-direction: row;
    flex: 75%;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.AboutMeText p {
    height: 100%;
    display: flex;
    text-align: justify;
    justify-content: flex-start;
    margin-bottom: auto;
    
}

.IDImage {
    float: left;
    max-width: 200px;
    max-height: 200px;
    border: 4px solid var(--headerBGteal);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: auto;
    
    
}




/* ################################## Work ############################################*/

.Work {
    background-color: var(--bodyBG);
    color: var(--bodytext);
    display: flex;
    flex-direction: row;
    height: 1000px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.WorkSidebar {
    display: flex;
    justify-content: flex-end;
    flex: 25%;
    border-right: 3px solid var(--bodytext); 
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 10px;
}

.WorkMain {
    display: flex;
    flex-direction: row;
    flex: 75%;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.work {
    display: flex;
    background-color: gray;
    opacity: 0.7;
    border: 5px solid var(--headerBGteal);
    height: 21%;
    width: 48%;
    margin: 1%;
    color: var(--bodytext);
}

.work:hover {
    opacity: 1;
    transition: opacity 1s;
}

.work:first-child {
    width: 100%;
    height: 50%;
    margin-bottom: 1%;
    margin-left: 1%;
    background-image: url("./images/D1G.png");
    background-size: cover;
}

#work1 {
    background-image: url("./images/Beach.jpg");
}
#work2 {
    background-image: url("./images/Eclipse.jpg");
}
#work3 {
    background-image: url("./images/Road.jpg" );
}
#work4 {
    background-image: url("./images/Shapes.jpg" );
}


img {
    max-width: 100%;
    max-height: 100%;
}

.work h4 {
    background-color: var(--headerBGteal);
    margin-top: auto;
    margin-bottom: 30px;
    font-size: 12px;
    display: flex;
}

.work div {
    background-color: var(--headerBGteal);
    flex-wrap: wrap;
    height: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin-top: auto;
    max-width: 100px;
    margin-bottom: 10%;
    font-size: 16px;
    display: flex;
}










/* ################################## Contact Me #######################################  */

.ContactMe {
    display: flex;
    background-color: var(--bodyBG);
    color: var(--bodytext);
    height: auto;
    margin-bottom: 10px;
}



.CMSidebar {
    display: flex;
    justify-content: flex-end;
    flex: 25%;
    border-right: 3px solid var(--bodytext); 
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 10px;
    flex-wrap: wrap;

}

.CMSidebar h3 {
    max-width: 150px;
    justify-content: flex-end;
    text-align: end;
    flex-wrap: wrap;
    
}

.ContactMain {
    display: flex;
    flex-direction: row;
    height: 150px;
    flex: 75%;
    flex-wrap: wrap;
}

.ContactMain div {
    display: flex;
    flex: 20%;
    margin: auto;
    justify-content: space-around;
}

.ContactMain div h4 {
    justify-content: space-evenly;
    height: 50%;
    padding-bottom: 6px;
    border-bottom: 3px solid var(--bodytext);
}

.ContactMain a {
    color: var(--bodytext);
    text-decoration: none;
}






/* ###################### When Screen Changes to Tablet Size ############################## */
/* ###################### When Screen Changes to Tablet Size ############################## */
/* ###################### When Screen Changes to Tablet Size ############################## */

@media screen and (max-width: 992px) {
  
    .navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 150px;
        
    }
    .name {
        display: flex;
        flex: 100%;
        width: 100%;
        height: 60%;
        text-align: center;
        margin: auto;
        /* background-color: red; */
    }

    h1 {
        flex: 100%;
        color: rgb(50, 31, 83);
    }

    .links {
        flex: 100%;
        width: 100%;
        
        margin: auto;
        text-align: center;
        overflow-wrap: normal;
    }

    .navlist {
        display: flex;
        margin: auto;
        flex-wrap: nowrap;
        text-align: center;
    }

    li {
        margin: auto;
    }


  .subtitle h2 {
      margin: 10px 40px;
  }

  /* ################################## About Me ########################################  */

  .AboutMe {
      flex-direction: column;
      height: auto;
  }

  .AMSidebar {
      justify-content:flex-start;
      border-right: none;
      border-bottom: 4px solid black;
      margin-left: 40px;
      margin-right: 40px;
  }

  .AMSidebar h3 {
      max-width: 100%;;
      margin-right: auto;
      margin-top: auto;
      margin-left: -10px;
      padding-bottom: 5px;
      
  }

  .AboutMeText {
      flex: 50%;
      margin: 20px
  }

  /* ################################## Work ########################################  */
  
  .Work {
      flex-direction: row;
      height: auto;
  }

  .WorkSidebar {
    justify-content:flex-start;
    border-right: none;
    height: auto;
    border-bottom: 4px solid black;
    margin-left: 40px;
    margin-right: 40px;
  }

  .WorkSidebar h3 {
    max-width: 100%;;
    margin-right: auto;
    margin-top: auto;
    margin-left: -10px;
    padding-bottom: 5px;
  }

  .WorkMain {
      height: 400px;
  }




  /* ######################### Contact Me ###################################### */

    .ContactMe {
        flex-direction: column;
        height: 200px;
    }

    .CMSidebar {
    justify-content: flex-start;
    border-right: none;
    flex: 50%;
    border-bottom: 4px solid black;
    margin-left: 40px;
    margin-right: 40px;
    }

    .CMSidebar h3 {
        max-width: 100%;
        margin-right: auto;
        margin-top: auto;
        margin-left: -10px;
        padding-bottom: 5px;
    }

    .ContactMain {
        flex: 50%;
        margin-left: 40px;
        margin-right: 40px;
        flex-wrap: nowrap;
    }

    .ContactMain div {
        display: flex;
        flex-wrap: nowrap;
        min-width: 50px;
    }

    .ContactMain div h4 {
        padding-top: 15px;
        height: 25%;
        flex-wrap: nowrap;
    }
}

  /* ###################### When Screen Changes to Mobile Size ############################## */
  /* ###################### When Screen Changes to Mobile Size ############################## */
  /* ###################### When Screen Changes to Mobile Size ############################## */
 
 
  @media screen and (max-width: 576px) {
    
    .name h1 {
        flex: 100%;
    }

    .links {

    }

   .navlist {
       display: flex;
       
       flex-wrap: wrap; 
   }

   .navlist li {
       flex: 1 0 33%;
   }

   .subtitle {
    justify-content: center;
    height: 300px;
   }

   .subtitle h2 {
       text-align: center;
       flex-wrap: wrap;
   }

   /* ################################## Work ################################### */
   
    .Work {
        flex-direction: row;
    }
    .WorkMain {
    display: flex;
    flex-wrap: wrap;
    height: 750px;
    margin-top: 25px;
    flex-direction: column;
}

    .work:first-child {
        height: 15%;
    }

    .work {
    width: 100%;
    height: 15%;
}
    .work div {
        margin-right: auto;
        font-size: 16px;
    }

    


   /* ################################### Contact ######################### */
 
   .ContactMe {
       height: auto;
       padding-top: 50px;
   }

   .CMSidebar {
       flex: 15%;
   }

   .ContactMain {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       padding-bottom: 45px;
   }

   .ContactMain div {
       display: flex;
       width: 100%;
       justify-content: flex-start;
       padding-left: 10px;

   }

   .ContactMain div h4 {
       display: flex;
       justify-content: flex-start;
       width: auto;
       height: 100%;
       margin-right: auto;
       
   }





  }